In [2]:
#1
import pandas as pd
import numpy as np

In [3]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [9]:
#4
iris.rename(columns={"5.1": "sepal_length", "3.5": "sepal_width", "1.4" : "petal_length", "0.2" : 'petal_width ', 'Iris-setosa' :  'class'}, inplace = True)

In [10]:
iris

     sepal_length  sepal_width  petal_length  petal_width            class
0             4.9          3.0           1.4           0.2     Iris-setosa
1             4.7          3.2           1.3           0.2     Iris-setosa
2             4.6          3.1           1.5           0.2     Iris-setosa
3             5.0          3.6           1.4           0.2     Iris-setosa
4             5.4          3.9           1.7           0.4     Iris-setosa
..            ...          ...           ...           ...             ...
144           6.7          3.0           5.2           2.3  Iris-virginica
145           6.3          2.5           5.0           1.9  Iris-virginica
146           6.5          3.0           5.2           2.0  Iris-virginica
147           6.2          3.4           5.4           2.3  Iris-virginica
148           5.9          3.0           5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [19]:
#5
pd.isnull(iris).sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [26]:
#6
iris.iloc[10:30,2:3] = np.nan
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width         class
0            4.9          3.0           1.4           0.2  Iris-setosa
1            4.7          3.2           1.3           0.2  Iris-setosa
2            4.6          3.1           1.5           0.2  Iris-setosa
3            5.0          3.6           1.4           0.2  Iris-setosa
4            5.4          3.9           1.7           0.4  Iris-setosa
5            4.6          3.4           1.4           0.3  Iris-setosa
6            5.0          3.4           1.5           0.2  Iris-setosa
7            4.4          2.9           1.4           0.2  Iris-setosa
8            4.9          3.1           1.5           0.1  Iris-setosa
9            5.4          3.7           1.5           0.2  Iris-setosa
10           4.8          3.4           NaN           0.2  Iris-setosa
11           4.8          3.0           NaN           0.1  Iris-setosa
12           4.3          3.0           NaN           0.1  Iris-setosa
13           5.8          4.0           NaN           0.2  Iris-setosa
14           5.7          4.4           NaN           0.4  Iris-setosa
15           5.4          3.9           NaN           0.4  Iris-setosa
16           5.1          3.5           NaN           0.3  Iris-setosa
17           5.7          3.8           NaN           0.3  Iris-setosa
18           5.1          3.8           NaN           0.3  Iris-setosa
19           5.4          3.4           NaN           0.2  Iris-setosa
20           5.1          3.7           NaN           0.4  Iris-setosa
21           4.6          3.6           NaN           0.2  Iris-setosa
22           5.1          3.3           NaN           0.5  Iris-setosa
23           4.8          3.4           NaN           0.2  Iris-setosa
24           5.0          3.0           NaN           0.2  Iris-setosa
25           5.0          3.4           NaN           0.4  Iris-setosa
26           5.2          3.5           NaN           0.2  Iris-setosa
27           5.2          3.4           NaN           0.2  Iris-setosa
28           4.7          3.2           NaN           0.2  Iris-setosa
29           4.8          3.1           NaN           0.2  Iris-setosa

In [34]:
#7
iris.petal_length.fillna(1, inplace = True)
iris.head(20)

    sepal_length  sepal_width  petal_length  petal_width         class
0            4.9          3.0           1.4           0.2  Iris-setosa
1            4.7          3.2           1.3           0.2  Iris-setosa
2            4.6          3.1           1.5           0.2  Iris-setosa
3            5.0          3.6           1.4           0.2  Iris-setosa
4            5.4          3.9           1.7           0.4  Iris-setosa
5            4.6          3.4           1.4           0.3  Iris-setosa
6            5.0          3.4           1.5           0.2  Iris-setosa
7            4.4          2.9           1.4           0.2  Iris-setosa
8            4.9          3.1           1.5           0.1  Iris-setosa
9            5.4          3.7           1.5           0.2  Iris-setosa
10           4.8          3.4           1.0           0.2  Iris-setosa
11           4.8          3.0           1.0           0.1  Iris-setosa
12           4.3          3.0           1.0           0.1  Iris-setosa
13           5.8          4.0           1.0           0.2  Iris-setosa
14           5.7          4.4           1.0           0.4  Iris-setosa
15           5.4          3.9           1.0           0.4  Iris-setosa
16           5.1          3.5           1.0           0.3  Iris-setosa
17           5.7          3.8           1.0           0.3  Iris-setosa
18           5.1          3.8           1.0           0.3  Iris-setosa
19           5.4          3.4           1.0           0.2  Iris-setosa

In [35]:
#8
del iris['class']
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.9          3.0           1.4           0.2
1           4.7          3.2           1.3           0.2
2           4.6          3.1           1.5           0.2
3           5.0          3.6           1.4           0.2
4           5.4          3.9           1.7           0.4

In [36]:
#9
iris.iloc[0:3,:] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN           NaN
1           NaN          NaN           NaN           NaN
2           NaN          NaN           NaN           NaN
3           5.0          3.6           1.4           0.2
4           5.4          3.9           1.7           0.4

In [38]:
#10
iris = iris.dropna()
iris

     sepal_length  sepal_width  petal_length  petal_width
3             5.0          3.6           1.4           0.2
4             5.4          3.9           1.7           0.4
5             4.6          3.4           1.4           0.3
6             5.0          3.4           1.5           0.2
7             4.4          2.9           1.4           0.2
..            ...          ...           ...           ...
144           6.7          3.0           5.2           2.3
145           6.3          2.5           5.0           1.9
146           6.5          3.0           5.2           2.0
147           6.2          3.4           5.4           2.3
148           5.9          3.0           5.1           1.8

[146 rows x 4 columns]

In [61]:
#11
iris = iris.reset_index(drop = True)
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.0          3.6           1.4           0.2
1           5.4          3.9           1.7           0.4
2           4.6          3.4           1.4           0.3
3           5.0          3.4           1.5           0.2
4           4.4          2.9           1.4           0.2